// Mixins Here

.Flex-Just-Align-Center(){
    display: flex;
    justify-content: center;
    align-items: center;
}

.Column-Center(){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}